*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(204, 43%, 93%);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Karla", sans-serif;
  padding: 60px 30px;
}

.container {
  width: 100%;
  max-width: 635px;
  background-color: hsl(0, 100%, 100%);
  border-radius: 5px;
  margin: 0 auto 25px;
}

.wrapper {
  padding: 20px;
}

.title--h1 {
  color: hsl(179, 62%, 43%);
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 25px;
}

.title--h2 {
  color: hsl(0, 100%, 100%);
  font-size: 1.6rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.info {
  color: hsl(71, 73%, 54%);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.container__item p {
  color: hsl(218, 22%, 67%);
  line-height: 1.5;
}

.container__item--two-cols {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  color: hsl(204, 43%, 93%);
  padding: 20px;
}

.box:first-of-type {
  width: 100%;
  background-color: hsl(179, 62%, 43%);
}

.box:last-of-type {
  width: 100%;
  background-color: hsla(179, 62%, 43%, .8);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.price {
  color: hsl(0, 100%, 100%);
  font-size: 2.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 15px;
}

.price span {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: .6;
}

.box p {
  color: hsl(204, 43%, 93%);
  margin-bottom: 30px;
}

.btn {
  display: block;
  width: 100%;
  color: hsl(204, 43%, 93%);
  background-color: hsl(71, 73%, 54%);
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, .2);
}

.btn:hover,
.btn:focus {
  background-color: hsla(71, 73%, 54%, 0.816);
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  line-height: 1.5;
}

.list a {
  color: hsl(204, 43%, 93%);
  text-decoration: none;
  opacity: .8;
}

.list a:hover,
.list a:focus {
  color: hsl(0, 100%, 100%);
}

.attribution { 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 800px) {
  html {
    height: 100%;
  }

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
  }

  .wrapper {
    padding: 40px;
  }

  .title--h1 {
    font-size: 2.5rem;
  }

  .info {
    font-size: 1.8rem;
  }

  .container__item--two-cols {
    flex-direction: row;
    justify-content: space-between;
  }

  .box {
    padding: 40px;
  }

  .box:first-of-type {
    width: 50%;
    border-bottom-left-radius: 5px;
  }

  .box:last-of-type {
    width: 50%;
    border-bottom-left-radius: 0;
  }
}